.selectButton{
	border: 1px solid black;
	border-radius: 2px;
	padding: 2px;
	width: fit-content;
	margin: 0.5rem;
}

.itemContainer{
	margin: 1rem;
	padding: 0.5rem;
}

.item{
	-webkit-box-shadow: 3px 3px 10px 3px #dddddd;
	-moz-box-shadow: 3px 3px 10px 3px #dddddd;
	box-shadow: 3px 3px 10px 3px #dddddd;
	border-radius: 0.5rem;
	padding: 0.25rem;
}

.wowHeadItem{
	cursor: pointer;
}

.tableHeading{
	text-align: left;
}

