---
import Layout from "../../../components/global/Layout/Layout.astro"
import { getCharacters } from "../../../api/services/Character"
import Characters from "../../../features/characters"
const cookie = Astro.cookies.get("wow-trade-session").value
let characters
try {
	characters = await getCharacters(cookie)
} catch (e) {
	console.log("e", e)
}
---

<Layout title="Authenticate your Account">
	<div class="flex flex-row">
		<div class="basis-2/4">
			<Characters characters={characters} />
		</div>
	</div>
</Layout>

<script src="./handleSelectCharacter.ts"></script>
