---
import Layout from "../../../components/global/Layout/Layout.astro"
import { getUsersCharactersList } from "@/character"
import Characters from "../../../features/characters"
import resolveCookie from "../../../../utils/resolveCookie"

const { pathname } = Astro.url
let characters
try {
	characters = await getUsersCharactersList(
		resolveCookie(Astro.cookies.get("wow-trade-session").value)
	)
} catch (e) {
	console.log("e")
}
---

<Layout title="Authenticate your Account">
	<div class="flex flex-row">
		<div class="basis-2/4">
			<Characters characters={characters} />
		</div>
	</div>
</Layout>

<script is:inline>
	const handleClick = (ev) => {
		const realm = ev.target.dataset.realm
		const name = ev.target.dataset.name
		// @ts-ignore
		window.location.href = `/authenticated/characters/professions/eu/${realm}/${name}`
	}
	const dataButtons = window?.document?.querySelectorAll("[data-realm]")
	dataButtons.forEach((button) => button.addEventListener("click", handleClick))
</script>
