---
import Layout from "../../components/global/Layout/Layout.astro"
import { getCharacters } from "../../api"
import CharacterHandler from "../../components/react/handler/CharacterHandler"
import Professions from "../../components/react/professions"

const cookie = Astro.cookies.get("wow-trade-session").value
const characters = await getCharacters(cookie)
console.log("____ ", characters, " ___ xcookie ", cookie)
---

<Layout title="Authenticate your Account">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<CharacterHandler characters={characters} cookie={cookie} />
		</div>
	</section>
</Layout>
