---
import Layout from "../../components/global/Layout/Layout.astro"
const env = import.meta.env
const publicAPIEndpoint = env.PUBLIC_API_ENDPOINT
const logout = await fetch(`${publicAPIEndpoint}/logout`)
let message = "Something went wrong while logout!"
console.log("logout", logout)
if (logout.status === 201) {
	Astro.request.headers.delete("cookie")
	console.log(Astro.request.headers)

	message = "Goodbye! Until later :)"
}
---

<Layout title="See Listing">
	<div>{message}!</div>
</Layout>
