---
import Layout from "../../components/global/Layout/Layout.astro"
let message = "Something went wrong while logout!"
Astro.cookies.delete(import.meta.env.TOKEN_NAME)

Astro.response.headers.append(
	"set-cookie",
	"wow-trade-session=null; Max-Age=0; path=/"
)
Astro.response.headers.set(
	"cookie",
	"wow-trade-session=null; Max-Age=0; path=/"
)
---

<Layout title="See Listing">
	<div>{message}!</div>
</Layout>
