---
import Layout from "../components/global/Layout/Layout.astro"
---

<Layout title="Browse Listings">
	<section>
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">Browse</h1>
			</div>
		</div>
	</section>
</Layout>
