---
import { findLastFiveCreatedListings } from "@/order"
import Layout from "../components/global/Layout/Layout.astro"
import ViewOrder from "../features/orders/view/public/ViewOrder"
import Label from "../components/react/components/label"
let orders

try {
	orders = await findLastFiveCreatedListings()
} catch (e) {
	console.log("error while fetching data")
}
console.log("______INDEX", Astro.cookies)
---

<Layout title="WoW Trade - Dragonflight">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">WoW Trade</h1>
			</div>
			<Label>Last 5 created Listings</Label>
			<ViewOrder orders={orders} />
			<div>
				<ul class="grid md:grid-cols-2 gap-4 place-items-center">
					<li>
						<a
							href="/orders/browse"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium">📖 Browse Listings</span>
						</a>
					</li>
					<li>
						<a
							href="/authenticate"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium"
								>💾 Create Listings and Authenticate</span
							>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</Layout>
<script is:inline>
	const buttons = window?.document?.querySelectorAll("[data-copy]")
	buttons.forEach((button) =>
		button.addEventListener("click", (ev) => {
			// @ts-ignore
			navigator.clipboard.writeText(ev.target.value)
		})
	)
</script>
