---
import { getLast5Orders } from "../api/services/Order"
import Layout from "../components/global/Layout/Layout.astro"
import { Last5Order } from "../features/orders/view/public"
import Label from "../components/react/components/label"
import Drawer from "../components/react/components/sideNavigation"
let orders

try {
	orders = await getLast5Orders()
} catch (e) {
	console.log("error while fetching data")
}
---

<Layout title="Astro PWA Starter">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">WoW Trade</h1>
			</div>
			<Label>Last 5 created Listings</Label>
			<Drawer client:load />
			<Last5Order orders={orders} />
			<div>
				<ul class="grid md:grid-cols-2 gap-4 place-items-center">
					<li>
						<a
							href="/orders/browse"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium">📖 Browse Listings</span>
						</a>
					</li>
					<li>
						<a
							href="/authenticate"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium"
								>💾 Create Listings and Authenticate</span
							>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</Layout>
<script src="./copyToClipboard.ts"></script>
