---
import Layout from "../components/global/Layout/Layout.astro"
---

<script>
	const urlSearchParams = new URLSearchParams(window.location.search)
	const params = Object.fromEntries(urlSearchParams.entries())
	if (!params?.code) {
		alert("Authenthification failed")
		// todo redirect to authenticate
	}
	window.localStorage.setItem("code", params.code)
</script>
<Layout title="Redirect Auth">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">REDIRECT</h1>
			</div>
		</div>
	</section>
</Layout>
