---
import Layout from "../../../components/global/Layout/Layout.astro"
import Error from "./error.astro"
const cookie = Astro.cookies.get("wow-trade-session").value
import { createOrder } from "../../../api/services/Order"
const createListingData = {
	commission: {
		gold: Astro.url.searchParams.get("gold"),
		silver: Astro.url.searchParams.get("silver")
	},
	item: {
		id_crafted_item: Astro.url.searchParams.get("id_crafted_item"),
		item_name: Astro.url.searchParams.get("item_name")
	},
	listingDuration: Astro.url.searchParams.get("duration"),
	multicraftPercentage: Astro.url.searchParams.get("multicraftPercentage"),
	quality: Astro.url.searchParams.get("quality"),
	difficulty: Astro.url.searchParams.get("difficulty"),
	qualityProcChance: Astro.url.searchParams.get("qualityProcChance"),
	qualifiedCharacterName: Astro.url.searchParams.get("qualifiedCharacterName"),
	profession: Astro.url.searchParams.get("profession"),
	currentSkill: Astro.url.searchParams.get("currentSkill")
}
let response = null
try {
	response = await createOrder({
		cookie,
		data: createListingData
	})
} catch (e) {
	console.log("fetch failed", e)
}
if (response?.acknowledged) {
	return Astro.redirect("/authenticated/orders/view")
}
//on success redirect to view
---

<Layout title="Create order">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			{response.message ?? <Error message={response.message} />}
		</div>
	</section>
</Layout>
