---
import Layout from "../../../components/global/Layout/Layout.astro"
---

<Layout title="See Listing">
	<div>
		hier stuff aus DB zugegehoerig zu user

		<div>brauchen die folgende info: bnet id dazu infos anzeigen</div>
	</div>
</Layout>
