.selectButton{
	border: 1px solid black;
	border-radius: 2px;
	padding: 2px;
	width: fit-content;
	margin:0.5rem 0 0 0;
}

.itemContainer{
	margin: 1rem;
	padding: 0.5rem;
}

.item{
	-webkit-box-shadow: 3px 3px 10px 3px #dddddd;
	-moz-box-shadow: 3px 3px 10px 3px #dddddd;
	box-shadow: 3px 3px 10px 3px #dddddd;
	border-radius: 0.5rem;
	padding: 0.25rem;
}

.tableHeading{
	text-align: left;
}

.modalItem{
	width: 100%;
	margin: 0.5rem 0 0 0;
}

.modalContainer{
	display: flex;
	flex-wrap: wrap;
}

.modalContainer > div{
	flex: 50%
}
