---
import { getLast5Orders } from "../../external/services/Order"

import Layout from "../../components/global/Layout/Layout.astro"
import ViewOrder from "../../features/orders/view/public/ViewOrder"
const orders = await getLast5Orders()
---

<Layout title="See Listing">
	<div>hier stuff aus DB</div>
	<ViewOrder orders={orders} />
</Layout>
