---
import { professionsToCharacter } from "../../../../../../../api/services/Professions"
import { getCharacters } from "../../../../../../../api/services/Character"
import Layout from "../../../../../../../components/global/Layout/Layout.astro"
import Characters from "../../../../../../../feature/characters"
import Professions from "../../../../../../../feature/professions"
const { server, name } = Astro.params
const cookie = Astro.cookies.get("wow-trade-session").value
// global abgespeichert werden ? view reused from previous render? :thinking:
let characters, professions
try {
	characters = await getCharacters(cookie)
	professions = await professionsToCharacter(cookie, name, server, "eu")
} catch (e) {
	console.log("fetch failed", e)
}
---

<!-- WoWHead -->
<script id="header" is:inline>
	{
		;("const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true}")
	}
</script>
<script
	id="headerscript"
	src="https://wow.zamimg.com/widgets/power.js"
	strategy="lazyOnload"
	is:inline
></script>

<Layout title="Authenticate your Account">
	<div class="flex flex-row">
		<div class="basis-1/3">
			<Characters characters={characters} />
		</div>
		<div class="basis-2/3">
			<Professions
				professionToCharacter={professions}
				qualifiedCharacterName={`${name}-${server}`}
				client:load
			/>
		</div>
	</div>

	<script src="../../../../handleSelectCharacter.ts"></script>
</Layout>
