---
import { ordersToItem } from "../../../api/services/Order"
import Layout from "../../../components/global/Layout/Layout.astro"
import BrowseProfessions from "../../../feature/professions/browse"
import ViewOrder from "../../../feature/orders/view/public"
import { browseProfessions } from "../../../api/services/Professions"
const itemID = Astro.url.searchParams.get("itemID")
let response = null
let professions = null
console.log("ITEM ID ", itemID, Astro.url.searchParams.get("itemID"))
try {
	if (itemID) {
		console.log(itemID, " ___ ALLO")
		response = await ordersToItem(itemID)
	}
	professions = await browseProfessions()
} catch (e) {
	console.log("error while fetching item to recipe")
}
console.log("response", response)
---

<Layout title="See Listing">
	<div class="flex flex-row">
		<div class="basis-2/4">
			<BrowseProfessions professions={professions.data} client:visible />
		</div>
		<div class="basis-2/4">
			{response?.data.length ? <ViewOrder orders={response.data} /> : null}
		</div>
	</div>
</Layout>

<script src="../../copyToClipboard.ts"></script>
